{:highlights [{:id #uuid "65f1e9b8-ddb3-41b8-bb58-cac74fc1af16",
               :page 1,
               :position {:bounding {:x1 271.828125,
                                     :y1 595.03125,
                                     :x2 753.7334594726562,
                                     :y2 630.25,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 348.194580078125,
                                   :y1 595.03125,
                                   :x2 753.7334594726562,
                                   :y2 612.03125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 271.828125,
                                   :y1 613.25,
                                   :x2 663.557861328125,
                                   :y2 630.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "We evaluate all four variants both in simulation and in a hardware testbed containing a swarm of 25 Kilobot robots"},
               :properties {:color "yellow"}}
              {:id #uuid "65f1e9d2-b757-4ba4-b927-0832923145c4",
               :page 2,
               :position {:bounding {:x1 219,
                                     :y1 185,
                                     :x2 795,
                                     :y2 561,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1710352850348},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
