{:highlights [{:id #uuid "65f2a7a8-6e54-494d-8a3c-247c467a3898",
               :page 1,
               :position {:bounding {:x1 62.59375,
                                     :y1 891.765625,
                                     :x2 481.421875,
                                     :y2 994.078125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 217.12640380859375,
                                   :y1 891.765625,
                                   :x2 480.3944091796875,
                                   :y2 906.765625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 909.234375,
                                   :x2 481.421875,
                                   :y2 924.234375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 926.6875,
                                   :x2 481.0838623046875,
                                   :y2 941.6875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 944.15625,
                                   :x2 481.04931640625,
                                   :y2 959.15625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 961.484375,
                                   :x2 481.13055419921875,
                                   :y2 976.484375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 979.078125,
                                   :x2 210.198974609375,
                                   :y2 994.078125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text "As a unique non-Euclidean data structure for machine learning, graph analysis focuses on tasks such as node classiﬁcation, link prediction, and clustering. Graph neural networks (GNNs) are deep learning based methods that operate on graph domain. Due to its convincing performance, GNN has become a widely applied graph analysis method recently"},
               :properties {:color "yellow"}}
              {:id #uuid "65f2a8a7-714e-416a-b3e9-5f8111f41c94",
               :page 1,
               :position {:bounding {:x1 510.9375,
                                     :y1 787.265625,
                                     :x2 929.4775390625,
                                     :y2 837.0625,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 540.3013916015625,
                                   :y1 787.265625,
                                   :x2 928.7120361328125,
                                   :y2 802.265625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 804.734375,
                                   :x2 929.4544677734375,
                                   :y2 819.734375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 822.0625,
                                   :x2 929.4775390625,
                                   :y2 837.0625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 1},
               :content {:text "Although being successful, the universal idea behind these methods is building state transition systems on graphs and iterate until convergence, which constrained the extendability and representation ability."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2a94c-ee72-40c2-b966-cb28d6d8ff2b",
               :page 3,
               :position {:bounding {:x1 62.59375,
                                     :y1 89.46875,
                                     :x2 481.183349609375,
                                     :y2 158.734375,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 177.149169921875,
                                   :y1 89.46875,
                                   :x2 481.152587890625,
                                   :y2 104.46875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 106.9375,
                                   :x2 479.828125,
                                   :y2 121.9375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 126.25,
                                   :x2 481.183349609375,
                                   :y2 141.25,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 143.4375,
                                   :x2 403.8282775878906,
                                   :y2 158.4375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 70.03125,
                                   :y1 148.734375,
                                   :x2 76.890625,
                                   :y2 158.734375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 111.90625,
                                   :y1 148.734375,
                                   :x2 118.765625,
                                   :y2 158.734375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 3},
               :content {:text "we denote a graph as G ¼ ðV;EÞ, where jVj ¼ N is the number of nodes in the graph and jEj ¼ N e is the number of edges. A 2 R N%N is the adjacency matrix. For graph representation learning, we use h v and ov as the hidden state and output vector of node v."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2abdb-70db-4ea2-9d1d-21c303218b24",
               :page 3,
               :position {:bounding {:x1 62.59375,
                                     :y1 195.703125,
                                     :x2 481.1732177734375,
                                     :y2 263.078125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 318.52032470703125,
                                   :y1 195.703125,
                                   :x2 481.1048583984375,
                                   :y2 210.703125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 213.15625,
                                   :x2 481.1732177734375,
                                   :y2 228.15625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 230.625,
                                   :x2 481.1141357421875,
                                   :y2 245.625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 248.078125,
                                   :x2 89.76040649414062,
                                   :y2 263.078125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 3},
               :content {:text "Generally, the pipeline contains four steps: (1) ﬁnd graph structure, (2) specify graph type and scale,(3) design loss function and (4) build model using computational modules."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2ac9f-3bd9-4394-9de7-f36779600987",
               :page 3,
               :position {:bounding {:x1 62.59375,
                                     :y1 377.984375,
                                     :x2 481.169921875,
                                     :y2 410.4375,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 62.59375,
                                   :y1 377.984375,
                                   :x2 481.169921875,
                                   :y2 392.984375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 395.4375,
                                   :x2 121.08171081542969,
                                   :y2 410.4375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 3},
               :content {:text "There are usually two scenarios: structural scenarios and non-structural scenarios"},
               :properties {:color "yellow"}}
              {:id #uuid "65f2aca5-99d0-463d-89e2-a5ba7e45cf8c",
               :page 3,
               :position {:bounding {:x1 62.59375,
                                     :y1 395.4375,
                                     :x2 481.22412109375,
                                     :y2 445.359375,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 124.86395263671875,
                                   :y1 395.4375,
                                   :x2 481.07080078125,
                                   :y2 410.4375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 412.90625,
                                   :x2 481.22412109375,
                                   :y2 427.90625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 430.359375,
                                   :x2 242.09268188476562,
                                   :y2 445.359375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 3},
               :content {:text " In structural scenarios, the graph structure is explicit in the applications, such as applications on molecules, physical systems, knowledge graphs and so on."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2acac-f0aa-49f4-aa3b-e173754d3d3f",
               :page 3,
               :position {:bounding {:x1 62.59375,
                                     :y1 430.359375,
                                     :x2 481.1546630859375,
                                     :y2 497.625,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 245.895263671875,
                                   :y1 430.359375,
                                   :x2 481.0902099609375,
                                   :y2 445.359375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 447.703125,
                                   :x2 481.07220458984375,
                                   :y2 462.703125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 465.15625,
                                   :x2 481.1546630859375,
                                   :y2 480.15625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 62.59375,
                                   :y1 482.625,
                                   :x2 178.14898681640625,
                                   :y2 497.625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 3},
               :content {:text "In non-structural scenarios, graphs are implicit so that we have to ﬁrst build the graph from the task, such as building a fully-connected “word” graph for text or building a scene graph for an image."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2af29-1b85-4bd0-bb3c-1bc51bba42c2",
               :page 3,
               :position {:bounding {:x1 530.78125,
                                     :y1 874.578125,
                                     :x2 929.557373046875,
                                     :y2 959.28125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 803.0384521484375,
                                   :y1 874.578125,
                                   :x2 929.422607421875,
                                   :y2 889.578125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 530.78125,
                                   :y1 892.03125,
                                   :x2 929.4241943359375,
                                   :y2 907.03125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 530.78125,
                                   :y1 909.5,
                                   :x2 929.557373046875,
                                   :y2 924.5,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 530.78125,
                                   :y1 926.953125,
                                   :x2 929.458740234375,
                                   :y2 941.953125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 530.78125,
                                   :y1 944.28125,
                                   :x2 792.1897583007812,
                                   :y2 959.28125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 3},
               :content {:text "In the test phase, the transductive setting requires the model to predict the labels of the given unlabeled nodes, while the inductive setting provides new unlabeled nodes from the same distribution to infer. Most node and edge classiﬁcation tasks are semi-supervised"},
               :properties {:color "yellow"}}
              {:id #uuid "65f2af5e-9b29-4c71-bebb-9eb888ad5e75",
               :page 3,
               :position {:bounding {:x1 510.9375,
                                     :y1 1066.375,
                                     :x2 930,
                                     :y2 1133.640625,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 530.875,
                                   :y1 1066.375,
                                   :x2 930,
                                   :y2 1081.375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 1083.84375,
                                   :x2 929.3897705078125,
                                   :y2 1098.84375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 1101.3125,
                                   :x2 929.52880859375,
                                   :y2 1116.3125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 510.9375,
                                   :y1 1118.640625,
                                   :x2 656.3596801757812,
                                   :y2 1133.640625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 3},
               :content {:text "With the task type and the training setting, we can design a speciﬁc loss function for the task. For example, for a node-level semi-supervised classiﬁcation task, the cross-entropy loss can be used for the labeled nodes in the training set."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2afac-c374-488c-a056-cf6f694cfdeb",
               :page 4,
               :position {:bounding {:x1 82.4375,
                                     :y1 89.46875,
                                     :x2 481.11376953125,
                                     :y2 139.390625,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 217.46875,
                                   :y1 89.46875,
                                   :x2 481.07635498046875,
                                   :y2 104.46875,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.4375,
                                   :y1 106.9375,
                                   :x2 481.11376953125,
                                   :y2 121.9375,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.4375,
                                   :y1 124.390625,
                                   :x2 386.6406555175781,
                                   :y2 139.390625,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 4},
               :content {:text "The propagation module is used to propagate information between nodes so that the aggregated information could capture both feature and topological information."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2afb6-3c99-48cf-bddf-191c0e217112",
               :page 4,
               :position {:bounding {:x1 82.4375,
                                     :y1 211.578125,
                                     :x2 481.0877685546875,
                                     :y2 244.03125,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 203.375,
                                   :y1 211.578125,
                                   :x2 481.0877685546875,
                                   :y2 226.578125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.4375,
                                   :y1 229.03125,
                                   :x2 393.1503601074219,
                                   :y2 244.03125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 4},
               :content {:text "When graphs are large, sampling modules are usually needed to conduct propagation on graphs."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2afbd-d3c6-4a4e-9bca-064683dd6ae1",
               :page 4,
               :position {:bounding {:x1 82.4375,
                                     :y1 263.828125,
                                     :x2 481.1783447265625,
                                     :y2 313.75,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects ({:x1 192.359375,
                                   :y1 263.828125,
                                   :x2 481.1783447265625,
                                   :y2 278.828125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.4375,
                                   :y1 281.28125,
                                   :x2 481.1455078125,
                                   :y2 296.28125,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}
                                  {:x1 82.4375,
                                   :y1 298.75,
                                   :x2 196.525390625,
                                   :y2 313.75,
                                   :width 992.1266666666666,
                                   :height 1322.8349999999998}),
                          :page 4},
               :content {:text "When we need the representations of high-level subgraphs or graphs, pooling modules are needed to extract information from nodes."},
               :properties {:color "yellow"}}
              {:id #uuid "65f2b04d-f813-43b8-8c12-55e546024c99",
               :page 4,
               :position {:bounding {:x1 58,
                                     :y1 781,
                                     :x2 907,
                                     :y2 1282,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1710403661653},
               :properties {:color "yellow"}}
              {:id #uuid "65f2b0a0-3e19-4f32-949f-c6b487a8ff4b",
               :page 5,
               :position {:bounding {:x1 40,
                                     :y1 80,
                                     :x2 915,
                                     :y2 848,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1710403742759},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
